@media (max-width: 1000px) {
  header {
    padding: 2rem 2.5rem 0; /*top and sides divided by 2 , bottom 0*/
}
  
.header-content-wrapper {
    display: block;
}

.pic-content {
    margin-right: 20px;
}
.stock-photo-first{
  height: 50vh;
}

.header__content--link{
  height: 40px;
}
.pic-text-content{
    background-color: transparent;
    top: 20px;
    right: -90%;
    width: auto;
}

.about-content {
    margin: 5rem 2.5rem 0;
  }
.main > .content_pro{
    grid-template-columns: repeat(2, 1fr);
}
.about-content > h1 {
    display: flex;
    justify-content: center;
}

.contact-info {
    justify-content: center;
}
}

@media (max-width: 665px) {
  header {
    padding: 2rem 2.5rem 0;
  }
.main > h1{
    padding: 0;
}
  .header-content-wrapper {
    display: flex;
    flex-direction: column;
  }

  .about-content {
    margin-right: 0;
  }

  .stock-photo-first {
    width: 70vw;
    min-height: 50vh;
    object-fit: cover;
  }

  .clipped-background {
    max-height: 22rem;
  }

  .pic-text-content{
    background-color: rgba(0, 0, 0, 0.5);
    top: auto;
    right: auto;
    width: 100%;
    line-break: anywhere;
  }

  .pic-text-content> p {
    padding: 0 15px;
  }

  .about-content {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: none;
  }

  .main {
    padding: 5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .back-end-icons-container {
    gap: 12.5px;
    padding: 17.5px;
  }

  .contact {
    padding: 0;
    display: flex;
    flex-direction: column;
  }
 .main > .content_pro{
 
  grid-template-columns: repeat(1, 1fr);
 }
 .main >h1{
  text-align: center;
 }
 .contact > .content_pro{
  padding: 0;
  flex-direction: column;
 }
}
@media (max-width: 490px){
  :root{
    --padding :4rem 1rem ; 
  }
  header{
    padding:var(--padding) !important;
  }
} 